@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #D72638;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-wheel {
  transition: transform 4s cubic-bezier(0.2, 0.8, 0.2, 1);
}